* a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.spinner {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  overflow: hidden;
  -webkit-animation: animate 3s linear;
          animation: animate 3s linear;
}

.spinner__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f07e6e), color-stop(#84cdfa), to(#5ad1cd));
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  -webkit-animation: animate 3s linear;
          animation: animate 3s linear;
  overflow: hidden;
}

.spinner__loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  overflow: hidden;
}

.spinner__loader span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 3px;
  border-radius: 50%;
  overflow: hidden;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader span:nth-child(1) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.loader span:nth-child(2) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.loader span:nth-child(3) {
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

.loader span:nth-child(4) {
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.loader:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 62px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header .fas {
  display: none;
}

header h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  color: black;
  margin: 0;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  color: #353535;
  height: 50px;
  margin: 0;
  font-weight: 500;
}

.location i {
  padding: 10px;
}

/*Heading of fome*/
.hero {
  padding: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
}

.hero__heading {
  max-width: 250px;
  text-align: center;
  margin: 0;
}

.hero__text {
  color: #353535;
  max-width: 300px;
  text-align: center;
  font-weight: 300;
}

.hero__btn {
  opacity: 1;
  margin: 16px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero__btn:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*filters to choose in homepage*/
#filter {
  padding: 30px 20px;
}

.filter-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
}

.filter-choose__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin: 10px 0px 10px 5px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #F6F6F6;
  -webkit-transition: 00.5s;
  transition: 00.5s;
}

.filter-choose__box:hover {
  cursor: pointer;
  background-color: #F5EDFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-choose__box:hover i {
  color: #9256dc;
}

.filter-choose__numb {
  position: absolute;
  padding: 3px 8px;
  background-color: #9256dc;
  color: white;
  border-radius: 50%;
  left: -12px;
}

.filter-choose__icon {
  margin-left: 10px;
  padding: 0px 25px;
  color: #7E7E7E;
  font-size: 20px;
}

.filter-choose__text {
  font-weight: 500;
}

/*restaurant card*/
.restaurants {
  background-color: #F6F6F6;
  padding: 30px 20px;
}

.restaurants__title {
  margin-top: 20px;
}

.restaurants__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants__box {
  position: relative;
  height: 250px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 9px 0;
  z-index: 10;
  -webkit-transition: 00.5s;
  transition: 00.5s;
}

.restaurants__box:hover {
  background-color: #F5EDFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurants__box__image {
  position: relative;
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__box__new {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  margin: 0;
  padding: 8px 10px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.restaurants__box__des {
  position: absolute;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  height: 75px;
  color: black;
}

.restaurants__box__des--heading {
  font-size: 16px;
}

.restaurants__box__des--heading h3, .restaurants__box__des--heading p {
  margin: 5px 15px;
  font-size: 16px;
}

.restaurants__box__des__coeur {
  padding: 0 15px;
  font-size: 25px;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  -webkit-transition: 0.5ms;
  transition: 0.5ms;
}

.restaurants__box__des__coeur:hover {
  background: -webkit-linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: none;
  -webkit-transition: 00.5ms;
  transition: 00.5ms;
}

/*footer*/
footer {
  background-color: #353535;
  padding: 20px;
}

footer .logo2 h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-right: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .logo2 h2:hover {
  background: -webkit-linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: none;
  -webkit-transition: 00.5ms;
  transition: 00.5ms;
}

footer nav ul {
  padding: 0;
}

footer nav ul li {
  list-style-type: none;
  color: white;
  font-size: 14px;
  margin: 5px 0;
}

footer nav ul li i {
  padding-right: 10px;
}

footer nav ul li .fa-hands-helping {
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    max-width: 350px;
  }
  .hero__text {
    max-width: 500px;
  }
  .filter-choose {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter-choose__box {
    max-width: 31%;
  }
  .restaurants__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .restaurants__column a {
    width: 49%;
  }
  .restaurants__box {
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .logo2 {
    margin-right: 40px;
  }
  footer .logo2 h2 {
    font-size: 26px;
  }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer nav ul li {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1025px) {
  #filter {
    padding: 30px 12%;
  }
  .restaurants {
    padding: 30px 12%;
  }
  footer {
    padding: 20px 12%;
  }
}
/*# sourceMappingURL=style.css.map */