$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bck: #F6F6F6;
$color-font: #353535;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

@mixin shadow {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}

@mixin centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin logo {
    font-family: Shrikhand, sans-serif;
    font-size: 30px;
    color: black;
    margin: 0;
}

@mixin btn {
    opacity: 1;
    margin: 16px 0px;
    background: $gradient;
    color: white;
    padding: 20px;
    border-radius: 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

@mixin btn-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6); 
}

@mixin gradient-heart {
    background: -webkit-linear-gradient(180deg,#9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px;
    -webkit-text-fill-color: none;
    transition: 00.5ms;
}

@mixin overflow-ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

* {
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: white
}

* h1, h2, h3, h4, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    @include centerflex();
    height: 62px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    i {
        position: absolute;
        top: 22px;
        left: 20px;
        color: black;
        font-size: 20px;
    }
    h1 {
        @include logo();
    }
}

/* start cover image with title*/

.cover{
    position: relative;
    width: auto;
    &__image {
        background: rgba(255, 255, 255, 0.2);
        &__pic {
            object-fit: cover;
            height: 255px;
            width: 100%;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        background-color: $color-bck;
        width: 100%;
        border-radius: 30px 30px 0 0;
        h2 {
            padding: 35px 14px 0 20px;
            @include logo();
        }
        &__coeur {
            padding: 0 14px;
            font-size: 22px;
            padding: 35px 35px 0 35px;
            color: transparent;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: black;
            cursor: pointer;;
            transition: 0.5ms;
            &:hover {
                @include gradient-heart();
            }
        }
    }

}

/*menu section*/

#menu {
    background-color: $color-bck;
    margin: 0;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    .btn {
        @include btn();
        width: 190px;
        text-align: center;
        align-self: center;
        &:hover {
            @include btn-hover();
        }
    }
}

.dish {
    display: flex;
    flex-direction: column;
    h3 {
        position: relative;
        margin: 0 0 25px 0;
        padding-top: 40px;
        
        font-weight: 300;
        }
    h3::after {
            content: '';
            width: 50px;
            height: 4px;
            background: $color-tertiary;
            position: absolute;
            z-index: 20;
            left: 0px;
            bottom: -8px;
            }
    &__type {
        width: 100%;
        height: 70px;
        background-color: white;
        border-radius: 15px;
        margin: 6px 0;
        padding: 15px 10px;
        cursor: pointer;
        @include overflow-ell ();
        @include shadow();
        animation: opacity 1s both;
        position: relative;
        &:hover .selector {
            @include centerflex();
            animation: slide-left 0.5s ease ;
            transform-origin: right;
        }
        &:hover .dish__type__prix {
            padding-right: 70px;
            transition: 0.5s ease ;
        }
        &__sub {
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            padding-top: 5px;
            &--crop {
                @include overflow-ell ();
            }
        }
        &__prix {
            font-weight: bold;
            color: #353535;
        }
    }
}

.selector {
    display: none;              
    position: absolute;
    background: $color-tertiary;
    border-radius: 0 15px 15px 0;
    right: 0px;
    top: 0px;
    padding: 0 13px;
    height: 100%;
    i {
        font-size: 30px;
        color: white;
        transform: rotate(180deg);
        animation: rotate 0.5s both;
    }
}

/*animation delay*/

@keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(1);
    }
}

@keyframes opacity {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
}


#an1{
    animation-delay: 0.1s;
}

#an2{
    animation-delay: 0.2s;
}

#an3{
    animation-delay: 0.3s;
}

#an4{
    animation-delay: 0.4s;
}

#an5{
    animation-delay: 0.5s;
}

#an6{
    animation-delay: 0.6s;
}

#an7{
    animation-delay: 0.7s;
}

#an8{
    animation-delay: 0.8s;
}

#an9{
    animation-delay: 0.9s;
}

/*footer*/

footer {
    background-color: #353535;
    padding:20px;

    .logo2 h2{
        font-family: Shrikhand, sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        &:hover {
            @include gradient-heart();
        }
    }

    nav ul {
        padding: 0;
    
        li {
            list-style-type: none;
            color: white;
            font-size: 14px;
            margin: 5px 0;

            i {
                padding-right: 10px;
            }

            .fa-hands-helping {
                padding: 2px;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .menu-container {
        display: flex;
        justify-content: space-between;
    }
    
    .dish {
        width: 32%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo2 {
            margin-right: 40px;
            h2 {
                font-size: 26px;
            }
        }
        nav {
            ul {
                display: flex;
                justify-content: flex-start;
                li {
                    margin: 0 20px;
                }
            }
        }
    }


}

@media screen and (min-width: 1025px) {
    .cover__heading {
        padding: 0 4%;
        border-radius: 100px 100px 0 0;
    }

    .menu-container {
    padding: 0 8%;
    }

    footer {
        padding: 20px 12%;
    }
}
